body {
    background-image: url(https://images.alphacoders.com/690/690755.jpg);
   text-align: center; 
   background-repeat: no-repeat;

}

.IMAGEN1CABEZA {
    background-image: url(https://www.el-parnasillo.com/miyazaki-ghibli/studio-ghibli.jpg)
    

}
