*{
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(https://images.alphacoders.com/690/690755.jpg);
    background-position: 100px;
   text-align: center; 
   background-repeat: no-repeat;
   background-color: rgb(121, 179, 240);
   opacity: 2;
   
}

#root{
    display: flex;
    /*flex wrap alineo e hizo las imagenes del mismo tamaño*/
    flex-wrap: wrap;
    /*si pongo space between en justify content pone espacio entre todas las tarjetas*/
    
    align-items: space-between;
    justify-content: center;

}

.titulo{
    font-size: 4em;
    text-align: center;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.25), 0px 15px 15px rgba(0, 0, 0, 0.25), inset 0px 15px 15px rgba(0, 0, 0, 0.25);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aliceblue;
    }

.reseñaSG{
    font-family: cursive;
    text-align: start;
    font-size: 25px;
    padding: 30px;
}

.caratulas{
    margin: 20px;
    padding: 20px;
    height: 500px;
}
/*@media only screen and (min-width: 600px){aqui va el root y todas las instrucciones}...para ver el tamaño de las cartas en rsponsive*/

#seleccionarDir{
margin-top: 30px;
margin-left: 30px;
padding: 10px;
border-radius: 100px;
flex-wrap: nowrap; 
box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.25), 0px 15px 15px rgba(0, 0, 0, 0.25), inset 0px 15px 15px rgba(0, 0, 0, 0.25);
background-color: rgb(193, 184, 184); 
text-align: center;  
font-size: large;
font-family: 'Lucida Grande';
}

#seleccionaAZ{
margin-top: 30px;
margin-left: 30px;
padding: 10px;
border-radius: 100px;
flex-wrap: nowrap;
box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.25), 0px 15px 15px rgba(0, 0, 0, 0.25), inset 0px 15px 15px rgba(0, 0, 0, 0.25);
background-color: rgb(193, 184, 184);
text-align: center;
font-size: large;
font-family: 'Lucida Grande';
}